html{
    scroll-snap-type: y mandatory;/* to make snap scroll work on whole html*/
}
.app{
    height: 100vh;
    background: black;
    display: grid;
    place-items: center;
}
.app_video{
    position: relative;
    height: 90vh;
    overflow: scroll;
    scroll-snap-type: y mandatory;
    width: 70%;
    border-radius: 20px;
    max-width: 450px;

}
/* to make scrollbar invisible without disabling the property of scroll */
.app_video::-webkit-scrollbar{
    display: none;
}
